/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font: 13px Arial, sans-serif; background: url(../images/header-bg.jpg) repeat-x; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
	color:#4c7689;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px Arial, sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:underline; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#wrapper{
	margin:0 auto;
	width: 900px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#header{
	height: 450px;
	/*зачем она здесь нужно? если её убрать, то ничего не поменяется!
	и вообще, фиксированная высота - это плохо!*/
}
#header h1{
	float: left;
	margin-top: 19px;
}
#header h1 a span{
	display: block;
	text-indent: -2000px;
}
#links{
	display: inline-block;
	margin: 45px 0 40px 94px;
}
#links li{
	margin: 0 9px 0 0;
	float: left;
}
#links li a{
	display: block;
	text-indent: -2000px;
}
#links li  .fb-logo{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: 0 0; width: 23px; height: 23px;
}
#links li .vk-logo{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -24px 0; width: 23px; height: 23px;
}
#links li .tw-logo{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -48px 0; width: 23px; height: 23px; 
}
#links li .yt-logo{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -72px 0; width: 23px; height: 23px; 
}
#links li .vimeo-logo{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -96px 0; width: 23px; height: 23px;
}
#links li  .fb-logo:hover{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -120px 0; width: 23px; height: 23px;
}
#links li .vk-logo:hover{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -144px 0; width: 23px; height: 23px;
}
#links li .tw-logo:hover{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -168px 0; width: 23px; height: 23px; 
}
#links li .yt-logo:hover{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -192px 0; width: 23px; height: 23px; 
}
#links li .vimeo-logo:hover{
	background: url(../images/link-sprites.png) no-repeat top left;
	background-position: -216px 0; width: 23px; height: 23px; 
}
/*если хорошо присмотреться, то можно заметить, что повторяются одни и те же правила, такие как:
   background: url(../images/link-sprites.png) no-repeat top left;
   width: 23px; height: 23px;
 попробуй сделать так, что не прописывать это в каждом селекторе, а объединить в один.
 top left; - это по дефолду, так что прописывать не нужно.
 спрайты не множко не правильно вырезал.. тебе нужно было лишь белые картинки вырезать,
 а круги сделать через бордер-радиус. по дефолду ставишь опасити = 0,7, а при ховере 1.*/
.line{
	display: block;
	width: 100%;
	border-top: 1px solid #8EA8B3;
}
.registration-bg{
	position: relative;
	display: inline-block;
	width: 900px;
	height: 342px;
	padding-left: 50px;
	background: url(../images/reg-bg.png) no-repeat bottom;
}
.registration{
	position: absolute;
	display: block;
	width: 677px;
	text-align: center;
	text-shadow: 0px 1px 0px #fff;
	top: 74px;
	left: 105px;
	color: #256988;
	font: 53px "Trebuchet MS", sans-serif;
}
.register-bg{
	position: absolute;
	top: 221px;
	left: 292px;
	width: 307px;
	height: 78px;
	background: url(../images/register-bg.png) no-repeat bottom;
}
.register{
	display: block;
	margin: 18px 0 0 55px;
	color: #fff !important;
	font: 27px "Trebuchet MS", sans-serif !important;
	text-decoration: none !important;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/
#nav{	
	float: right;
	margin: 50px 0 0 0;
	
}
#nav li{
	margin: 0 0 0 26px;
	float: left;
}
#nav li:first-child{
	margin: 0;
}
#nav li a{
	color: #396375;
	font-family: 'PT Sans',Arial, sans-serif;
	font-weight: 700; 
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0px;
}
#nav .active a{
	color: #e21d5d;
}
#nav li a:hover{
	color: #e21d5d; 
	text-decoration: none;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
#content h2{
	padding-bottom: 8px;
	text-transform: uppercase;
	font: 20px "Trebuchet MS", sans-serif;
	text-align: center;
	letter-spacing: 5px;
	border-bottom: 1px solid #A7C3CF;
}
#courses{
	margin-top: 25px;
}
#courses li{
	float: left;
	height: 197px;
	width: 430px;
}
#courses li:nth-child(2n){
	padding-left: 40px;
}
#courses li p{
	padding: 0 15px 0 0;
}
#courses li img{
	float: left;
	margin: 0 23px 40px 0;
}
#courses li a{
	font-size: 25px;
	color: #ea2778;
	text-decoration: none !important;
}
#contacts li{
	float: left;
}
#contacts .fb-img{
	margin-top: 19px;
}
#contacts li h3{
	padding: 10px 0 8px 0;
	text-transform: uppercase;
	font: 17px "Trebuchet MS", sans-serif;
	text-align: center;
	letter-spacing: 5px;
	border-bottom: 1px solid #A7C3CF;
}
#sponsors li{
	margin: 24px 14px 0 14px;
}
#sponsors li a{
	display:inline-block;
}
.geekhub{
	margin: 40px 0 32px 132px;
	width: 670px;
	font-size: 15px;
}
.bold{
	font-weight: bold;
}
.conteiner{
	width: 300px;
	padding-bottom: 55px;
}
.sponsor-1{
	display: inline-block;
	width: 72px;
	height: 54px;
	background: url(../images/gospel-house-logo.png) no-repeat;
}
.sponsor-2{
	display: inline-block;
	width: 72px;
	height: 54px;
	background: url(../images/master-of-code-logo.png) no-repeat;
}
.sponsor-3{
	display: inline-block;
	width: 72px;
	height: 54px;
	background: url(../images/sponsor-3-logo.png) no-repeat;
}
.sponsor-4{
	display: inline-block;
	width: 72px;
	height: 54px;
	background: url(../images/sponsor-4-logo.png) no-repeat;
}
.sponsor-5{
	display: inline-block;
	width: 72px;
	height: 54px;
	background: url(../images/sponsor-5-logo.png) no-repeat;
}
.sponsor-1:hover{
	background: url(../images/gospel-house-logo-hover.png) no-repeat;
}
.sponsor-2:hover{
	background: url(../images/master-of-code-logo-hover.png) no-repeat;
}
.sponsor-3:hover{
	background: url(../images/sponsor-3-logo-hover.png) no-repeat;
}
.sponsor-4:hover{
	background: url(../images/sponsor-4-logo-hover.png) no-repeat;
}
.sponsor-5:hover{
	background: url(../images/sponsor-5-logo-hover.png) no-repeat;
}
.margin-l{
	margin-left: 50px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
#footer{
	height: 50px;
	border-top: 1px solid #a7c3cf;
	clear: both;
}
#footer ul{
	margin: 15px 0 0 0;
	float: left;
}
#footer ul li{
	float: left;
	margin: 0 21px 0 0;
}
#footer ul li a{
	font: 12px Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #396375;
}
#footer .active a {
	color: #f95c4e;
}
#footer span{
	margin: 15px 0 0 0;
	font: 12px Arial, sans-serif;
	float: right;
	color: #a7c3cf;
}
#footer ul li a:hover{
	color: #f85b4e; 
	text-decoration: none;
}
